body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1, h2, h3 {
  color: #010c3f;
}

h1 {
  padding: .77rem 0;
  /* background-color: #010c3f; */
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2rem;

}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 1.75rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15rem;
}

h4 {
  font-size: .60rem;
}

p {
  font-size: .75rem;
  line-height: 1.25rem;
}

div {
  /* border: 1px solid black; */
}

.btn {
  background-color: #010c3f; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  opacity: 1;
}

.btn:hover {
  opacity: .5;
  cursor: pointer;
}


.App {
  height: 100%;
  padding: 0 5% 5% 5%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #000;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 75px 70% auto;
  grid-template-areas:
    "nav nav"
    "blog recs"
    "photos photos";
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
